! vim: set filetype=xdefaults nomodeline:

URxvt.scrollBar: false
!URxvt.termName: rxvt-256color

!URxvt.font: xft:TamzenForPowerline:pixelsize=15
!URxvt.italicFont: xft:TamzenForPowerline:pixelsize=15
!URxvt.boldFont: xft:TamzenForPowerline:bold:pixelsize=15

URxvt.font: xft:Fira Code:SemiBold:size=09
URxvt.italicFont: xft:Fira Code:SemiBold:size=09
URxvt.boldFont: xft:Fira Code:Bold:size=09

URxvt.internalBorder: 05

URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

URxvt.iso14755 : false

URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

!URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select

URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1

! xterm config

XTerm.vt100.faceName: TamzenForPowerline:pixelsize=15
XTerm.vt100.boldFont: TamzenForPowerline:bold:pixelsize=15

! one-half color scheme

! dark
!*.background: #282c34
!*.foreground: #dcdfe4
!*.cursor: #313640

!*.color0: #282c34
!*.color1: #e06c75
!*.color2: #98c379
!*.color3: #e5c07b
!*.color4: #61afef
!*.color5: #c678dd
!*.color6: #56b6c2
!*.color7: #dcdfe4
!*.color8: #282c34
!*.color9: #e06c75
!*.color10: #98c379
!*.color11: #e5c07b
!*.color12: #61afef
!*.color13: #c678dd
!*.color14: #56b6c2
!*.color15: #dcdfe4

! Light
*.background: #fafafa
*.foreground: #383a42
*.cursor: #f0f0f0

*.color0: #383a42
*.color1: #e45649
*.color2: #50a14f
*.color3: #c18401
*.color4: #0184bc
*.color5: #a626a4
*.color6: #0997b3
*.color7: #fafafa
*.color8: #383a42
*.color9: #e45649
*.color10: #50a14f
*.color11: #c18401
*.color12: #0184bc
*.color13: #a626a4
*.color14: #0997b3
*.color15: #fafafa
