configuration   {
    theme:      "onedark";
    font:       "DejaVu Serif 14";
    show-icons: true;
    icon-theme: "Numix Circle";
    modi:       "drun,windowcd,combi";

    /*
     *width:      40;
     *lines:      10;
     *padding:    30;
     */
}
