configuration   {
    font:       "Source Code Pro Semibold 11";
    show-icons: true;
    icon-theme: "Numix Circle";
    modi:       "drun,windowcd,combi";

}

// vim: set ft=css:
@import "./one.rasi"
